.custom_fonts .custom-google-fonts-enabled * {
	font-family: "Manrope", Helvetica, sans-serif;
}
.custom_fonts .custom-google-fonts-enabled h1,
.custom_fonts .custom-google-fonts-enabled h2,
.custom_fonts .custom-google-fonts-enabled h3,
.custom_fonts .custom-google-fonts-enabled h4,
.custom_fonts .custom-google-fonts-enabled h5,
.custom_fonts .custom-google-fonts-enabled h6 {
	font-family: "Plus Jakarta Sans", Helvetica, serif;
}

.button.button--empty.button--white-outline {
	font-weight: 400 !important; /* set the font weight */
	color: #a6a6a6 !important; /* set the font color */
}

	.button.button--empty.button--white-outline:hover {
		color: #ffffff !important; /* Change font color on mouseover */
		background-color: transparent !important; /* Makes background transparent on hover */
	}

.button.button--white-outline:not(.button--empty) {
	border: 1px solid #a9a9a9 !important;
	border-radius: 8px !important;
	color: #a9a9a9 !important;
}

.button.button--white-outline:not(.button--empty):hover {
	border-color: white !important;
	color: white !important;
}

.button--accent-bg:not(.button--empty) {
	border-radius: 8px !important;
}

@media (max-width: 768px) {
	#uni-navigation-bar .nav-02__list_wrapper {
		background: black;
	}
}

@media (max-width: 900px) {
	#uni-navigation-bar .nav-02__list--mobile {
		height: 100%;
		padding: 90px 15px 64px 15px;
	}

	#uni-navigation-bar .button__text {
		font-size: 32px;
		line-height: 1.6;
		font-weight: 500;
	}
}

.header-29__text_box {
	max-width: 100% !important; /* Set the width to 100% and mark it as important */
	/* ... other existing styles... */
}

.marketing-title {
	font-size: 14px;
	color: #ffffff;
	border: 1px solid rgba(255, 255, 255, 0.12);
	border-radius: 100px;
	width: fit-content;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding: 10px;
	margin: 0 auto 20px; /* Center align and keep the bottom margin */
	background: rgba(255, 255, 255, 0.04);
	display: block; /* or 'flex' depending on your layout */
	font-weight: 400; /* Set font weight to 400 */
}

/* Heading */

#header-29-717141 .heading {
	font-size: 67px;
	line-height: 1.1;
	margin-bottom: 0.3em;
	margin-top: 0.5em;
	padding-bottom: 0.1em;
}

@media (max-width: 768px) {
	#header-29-717141 .heading {
		font-size: 2.5em;
		line-height: 1.2;
		margin-bottom: 0.4em;
	}
}

@media (max-width: 500px) {
	#header-29-717141 .heading {
		font-size: 2.3em;
		line-height: 1.2;
		margin-bottom: 0.4em;
	}
}

/* Sub-heading */

#header-29-717141 .content_box {
	line-height: 1.4;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 768px) {
	#header-29-717141 .content_box {
		line-height: 1.4;
	}
}

.heading {
	background-image: linear-gradient( 0deg, rgb(105, 105, 105) 0%, rgb(255, 255, 255) 100% );
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent; /* For compatibility with non-WebKit browsers */
}

/* Button Effect */

@property --rotate {
	syntax: "<angle>";
	initial-value: 132deg;
	inherits: false;
}

#header-29-717141 .button--accent-bg,
#header-29-717141 .button--accent-outline {
	transition: transform 0.3s ease;
	background-color: var(--primary);
	color: white;
}

#header-29-717141 .button--accent-bg:hover,
#header-29-717141 .button--accent-outline:hover {
	transform: scale(1.05);
}

#header-29-717141 .buttons-set__item {
	position: relative;
	padding: 1px;
	border-radius: 10px;
	background-color: inherit;
	width: fit-content;
	transition: transform 0.3s ease;
}

#header-29-717141 .buttons-set__item:hover::before,
#header-29-717141 .buttons-set__item:hover::after {
	transform: scale(1.05);
}

#header-29-717141 .buttons-set__item::before {
	position: absolute;
	z-index: -1;
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 9px;
	background-image: conic-gradient(
		from var(--rotate),
		#5ddcff,
		#0066ff,
		#0066ff,
		#0066ff,
		#5ddcff
	);
	animation: button-spin 2.5s linear infinite;
	top: 0;
	left: 0;
}

#header-29-717141 .buttons-set__item::after {
	position: absolute;
	content: "";
	top: calc(var(100%) / 6);
	left: 0;
	right: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	transform: scale(0.8);
	filter: blur(10px);
	background-image: conic-gradient(
		from var(--rotate),
		#5ddcff,
		#0066ff,
		#0066ff,
		#0066ff,
		#5ddcff
	);
	opacity: 1;
	transition: opacity 0.5s;
	animation: button-spin 2.5s linear infinite;
}

@keyframes button-spin {
	0% {
		--rotate: 0deg;
	}
	100% {
		--rotate: 360deg;
	}
}

/* Heading */

#clients-03-569381 .heading {
	font-size: 3.1em;
	line-height: 1.1;
	margin-bottom: 0.1em;
	margin-top: 0.5em;
}

@media (max-width: 768px) {
	#clients-03-569381 .heading {
		font-size: 2.5em;
		line-height: 1.2;
		margin-bottom: 0.4em;
	}
}

@media (max-width: 500px) {
	#clients-03-569381 .heading {
		font-size: 2em;
		line-height: 1.2;
		margin-bottom: 0.4em;
	}
}

/* Sub-heading */

#clients-03-569381 .title-box__text {
	font-size: 1.2em;
	line-height: 1.4;
	max-width: 700px;
	margin-left: 0;
	margin-right: auto;
}
@media (max-width: 768px) {
	#clients-03-569381 .title-box__text {
		font-size: 1.2em;
		line-height: 1.4;
	}
}
#clients-03-569381 .title-box {
	max-width: 800px;
	margin-bottom: 60px;
}

/* Buttons */

#clients-03-569381 .button {
	padding: 20px 20px 20px;
	min-width: 240px;
	min-height: 52px;
	border-radius: 10px;
	box-shadow: none;
}

#clients-03-569381 .button__text {
	vertical-align: middle;
	font-size: 16px;
	transition: opacity 0.2s ease, transform 0.2s ease;
}

#clients-03-569381 .container--mid {
	max-width: 1000px;
}

#features-09-476061 .heading {
	font-size: 3.1em;
	line-height: 1.1;
	margin-bottom: 0.1em;
	margin-top: 0.5em;
}

@media (max-width: 768px) {
	#features-09-476061 .heading {
		font-size: 2.5em;
		line-height: 1.2;
		margin-bottom: 0.4em;
	}
}

@media (max-width: 500px) {
	#features-09-476061 .heading {
		font-size: 2.2em;
		line-height: 1.2;
		margin-bottom: 0.4em;
	}
}

/* Sub-heading */

#features-09-476061 .title-box__text {
	font-size: 1.2em;
	line-height: 1.4;
	max-width: 700px;
	margin-left: 0;
	margin-right: auto;
}
@media (max-width: 768px) {
	#features-09-476061 .title-box__text {
		font-size: 1.2em;
		line-height: 1.4;
	}
}
#features-09-476061 .title-box {
	margin-bottom: 30px;
	max-width: 800px;
}

#features-09-476061 .container--small {
	max-width: 800px;
}

#features-09-476061 .container {
	max-width: 1200px;
	display: flex;
	text-align: start;
	flex-direction: column;
}

#features-09-476061 .title-box--center {
	margin-left: 0px;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	text-align: start;
}
@media (max-width: 768px) {
	#features-09-476061 .title-box--center {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

/* Buttons */

#features-09-476061 .button {
	padding: 20px 20px 20px;
	min-width: 240px;
	min-height: 52px;
	border-radius: 10px;
	box-shadow: none;
}

#features-09-476061 .button__text {
	vertical-align: middle;
	font-size: 16px;
	transition: opacity 0.2s ease, transform 0.2s ease;
}

#features-09-476061 .button--empty {
	padding: 0;
	min-width: auto;
	min-height: auto;
	border-radius: 0;
	box-shadow: none;
	border: 0;
}
#features-09-476061 .button--empty:hover {
	background-color: none;
	box-shadow: none;
}

/* Features */

#features-09-476061 .features-09__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
}

#features-09-476061 .features-09__item {
	width: 100%;
	padding: 20px 20px 25px 25px;
	margin-right: 0;
	margin-bottom: 0;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: transparent;
	box-shadow: none;
	border: 1px solid rgba(255, 255, 255, 0.15);
	display: flex;
	flex-direction: column;
}

@media (max-width: 1020px) {
	#features-09-476061 .features-09__list {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 16px;
	}

	#features-09-476061 .features-09__item {
		width: 100%;
		max-width: 420px;
		margin-right: 0;
	}
}
#features-09-476061 .features-09__title {
	color: #ffffff;
}
#features-09-476061 .features-09__text {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
	display: flex;
	flex-direction: column;
}

#features-09-476061 .feature__button_box {
	padding-top: 16px;
	margin-top: auto;
}

#faq-01-716131 .heading {
	font-size: 3.1em;
	line-height: 1.1;
	margin-bottom: 0.1em;
	margin-top: 0.5em;
}

@media (max-width: 768px) {
	#faq-01-716131 .heading {
		font-size: 2.5em;
		line-height: 1.2;
		margin-bottom: 0.4em;
	}
}

@media (max-width: 500px) {
	#faq-01-716131 .heading {
		font-size: 2.2em;
		line-height: 1.2;
		margin-bottom: 0.4em;
	}
}

/* Sub-heading */

#faq-01-716131 .title-box__text {
	font-size: 1.2em;
	line-height: 1.4;
	max-width: 700px;
	margin-left: 0;
	margin-right: auto;
}
@media (max-width: 768px) {
	#faq-01-716131 .title-box__text {
		font-size: 1.2em;
		line-height: 1.4;
	}
}
#faq-01-716131 .title-box {
	margin-bottom: 20px;
	max-width: 800px;
}

#faq-01-716131 .container {
	max-width: 1200px;
	display: flex;
	text-align: start;
	flex-direction: column;
}

#faq-01-716131 .title-box--center {
	margin-left: 0px;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	text-align: start;
}
@media (max-width: 768px) {
	#faq-01-716131 .title-box--center {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

/* Buttons */

#faq-01-716131 .button {
	padding: 20px 20px 20px;
	min-width: 240px;
	min-height: 52px;
	border-radius: 10px;
	box-shadow: none;
}

#faq-01-716131 .button__text {
	vertical-align: middle;
	font-size: 16px;
	transition: opacity 0.2s ease, transform 0.2s ease;
}

#faq-01-716131 .container--small {
	max-width: 1200px;
}

/* F.A.Q. */

#faq-01-716131 .faq-01__question {
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	text-align: left;
	cursor: pointer;
	line-height: 1.4;
	letter-spacing: 0em;
	transition: border-color 0.25s ease, color 0.25s ease;
}

#faq-01-716131 .faq-01__question:hover {
	border-color: white;
}

#faq-01-716131 .faq-01__question_text,
#faq-01-716131 .custom-accent-color-bright {
	color: white;
	font-size: 20px;
}
#faq-01-716131 .faq-01__arrow_icon svg * {
	stroke: white;
}
#faq-01-716131 .faq-01__answer_text {
	color: rgb(255 255 255 / 85%);
}
#faq-01-716131 .faq-01__answer_text:last-child {
	margin-bottom: 10px;
	margin-right: 24px;
}

/* Link color in the answer */

#faq-01-716131 .content_box a {
	color: white;
}

#footer .container {
	max-width: 1200px;
}

.custom-colors-enabled .fill-main {
	fill: #0066ff;
}

.custom-colors-enabled .button--accent-outline .icon svg *,
.button--accent-outline .icon svg .custom-colors-enabled *,
.custom-colors-enabled .button--accent-outline .button__system_icon svg *,
.button--accent-outline .button__system_icon svg .custom-colors-enabled * {
	fill: #0066ff;
}

.custom-colors-enabled .stroke-main {
	stroke: #0066ff;
}

.custom-colors-enabled .comps .button--accent-outline,
.comps .custom-colors-enabled .button--accent-outline,
.custom-colors-enabled .store-button--white:hover {
	border-color: #0066ff;
}
.custom-colors-enabled .border-main,
.custom-colors-enabled .text-input:focus,
.custom-colors-enabled
	.form__input
	.chosen-container.chosen-container-active
	.chosen-choices,
.custom-colors-enabled .textarea:focus,
.custom-colors-enabled .select:focus,
.custom-colors-enabled .pricing-02__card_box--accent,
.custom-colors-enabled .pricing-03__hover,
.custom-colors-enabled .pricing-04__card--accent,
.custom-colors-enabled .pricing-04__hover,
.custom-colors-enabled .pricing-05__hover,
.custom-colors-enabled .bg-medium-color .cta_form-04__wrapper,
.bg-medium-color .custom-colors-enabled .cta_form-04__wrapper,
.custom-colors-enabled .bg-light-color .cta_form-04__wrapper,
.bg-light-color .custom-colors-enabled .cta_form-04__wrapper,
.custom-colors-enabled .bg-medium-color .cta_form-04__bottom,
.bg-medium-color .custom-colors-enabled .cta_form-04__bottom,
.custom-colors-enabled .bg-light-color .cta_form-04__bottom,
.bg-light-color .custom-colors-enabled .cta_form-04__bottom,
.custom-colors-enabled .bg-medium-color .cta_button-16__wrapper,
.bg-medium-color .custom-colors-enabled .cta_button-16__wrapper,
.custom-colors-enabled .bg-light-color .cta_button-16__wrapper,
.bg-light-color .custom-colors-enabled .cta_button-16__wrapper,
.custom-colors-enabled .bg-medium-color .links-02__list,
.bg-medium-color .custom-colors-enabled .links-02__list,
.custom-colors-enabled .bg-light-color .links-02__list,
.bg-light-color .custom-colors-enabled .links-02__list,
.custom-colors-enabled .faq-01__question:hover,
.custom-colors-enabled .faq-03__question:hover,
.custom-colors-enabled .features-09__item--new,
.custom-colors-enabled .bg-medium-color .steps-01__number,
.bg-medium-color .custom-colors-enabled .steps-01__number,
.custom-colors-enabled .bg-light-color .steps-01__number,
.bg-light-color .custom-colors-enabled .steps-01__number {
	border-color: #0066ff;
}

.custom-colors-enabled .comps .button--accent-outline,
.comps .custom-colors-enabled .button--accent-outline {
	color: #0066ff;
}
.custom-colors-enabled .color-main,
.custom-colors-enabled .link,
.custom-colors-enabled .feature__link,
.custom-colors-enabled .testimonials-03__person_link,
.custom-colors-enabled .footer-01__link,
.custom-colors-enabled .faq-05__link,
.custom-colors-enabled .features-16__link,
.custom-colors-enabled .subheading,
.custom-colors-enabled .content_box a,
.content_box .custom-colors-enabled a,
.custom-colors-enabled .tab__button.state-active-tab,
.custom-colors-enabled .tab__button--active:focus,
.custom-colors-enabled .score__value,
.custom-colors-enabled .form__message_opener_box,
.custom-colors-enabled .message__bubble_link,
.custom-colors-enabled .team-05__person_name,
.custom-colors-enabled .tabs-04__button.state-active-tab,
.custom-colors-enabled .tabs-04__button--active:focus,
.custom-colors-enabled .pricing-02__hover,
.custom-colors-enabled .pricing-03__hover,
.custom-colors-enabled .pricing-04__hover,
.custom-colors-enabled .pricing-05__hover,
.custom-colors-enabled .cta_button-25__subheading,
.custom-colors-enabled .cta_button-31__heading,
.custom-colors-enabled .footer-03__pages_link:hover,
.custom-colors-enabled .code-02__info_prefix,
.custom-colors-enabled .features-17__item .feature__title_text,
.features-17__item .custom-colors-enabled .feature__title_text {
	color: #0066ff;
}

.custom-colors-enabled .color-main-hover:hover,
.custom-colors-enabled .link:hover,
.custom-colors-enabled .feature__link:hover,
.custom-colors-enabled .testimonials-03__person_link:hover,
.custom-colors-enabled .footer-01__link:hover,
.custom-colors-enabled .faq-05__link:hover,
.custom-colors-enabled .features-16__link:hover,
.custom-colors-enabled .message__bubble_link:hover {
	color: #005be4;
}

.custom-colors-enabled .comps .button--accent-bg,
.comps .custom-colors-enabled .button--accent-bg,
.custom-colors-enabled .store-button:hover,
.custom-colors-enabled .circle-button--accent-bg,
.custom-colors-enabled .circle-button--accent-bg .circle-button__hover_bg,
.circle-button--accent-bg .custom-colors-enabled .circle-button__hover_bg,
.custom-colors-enabled .circle-button--light-bg:hover,
.custom-colors-enabled .slick-dots li.slick-active button,
.slick-dots li.slick-active .custom-colors-enabled button {
	background-color: #0066ff;
}
.custom-colors-enabled .bg-main,
.custom-colors-enabled .radio__check:before,
.custom-colors-enabled .checkbox__check:before,
.custom-colors-enabled .social-buttons__link--circle,
.custom-colors-enabled .roadmap-01__column,
.custom-colors-enabled .cta_button-25__item::before,
.custom-colors-enabled .testimonials-05__blue_box::before,
.custom-colors-enabled .footer-03__pages_item:after,
.custom-colors-enabled .features-02__number:before,
.custom-colors-enabled .features-09__item--new .tag,
.features-09__item--new .custom-colors-enabled .tag,
.custom-colors-enabled .features-15__item::before,
.custom-colors-enabled .bg-medium-color .steps-01__list:before,
.bg-medium-color .custom-colors-enabled .steps-01__list:before,
.custom-colors-enabled .bg-light-color .steps-01__list:before,
.bg-light-color .custom-colors-enabled .steps-01__list:before,
.comps.custom-colors-enabled .bg-accent-color .footer-02,
.comps.custom-colors-enabled .bg-accent-color .footer-04 {
	background-color: #0066ff;
}

.custom-colors-enabled .bg-main-hover:hover,
.custom-colors-enabled .comps .button--accent-bg:hover,
.comps .custom-colors-enabled .button--accent-bg:hover,
.custom-colors-enabled
	.checkbox__input:checked:hover
	~ .checkbox__check:hover:before {
	background-color: #005be4;
}

.custom-colors-enabled .border-alt,
.custom-colors-enabled .comps .button--alt-accent-outline,
.comps .custom-colors-enabled .button--alt-accent-outline,
.custom-colors-enabled .bg-accent-color .pricing-02__card_box--accent,
.bg-accent-color .custom-colors-enabled .pricing-02__card_box--accent,
.custom-colors-enabled .bg-accent-color .pricing-04__card--accent,
.bg-accent-color .custom-colors-enabled .pricing-04__card--accent {
	border-color: #000000;
}

.custom-colors-enabled .color-alt,
.custom-colors-enabled .comps .button--alt-accent-outline,
.comps .custom-colors-enabled .button--alt-accent-outline {
	color: #000000;
}

.custom-colors-enabled .bg-alt,
.custom-colors-enabled .comps .button--alt-accent-bg,
.comps .custom-colors-enabled .button--alt-accent-bg,
.custom-colors-enabled .bg-accent-color .slick-dots li.slick-active button,
.bg-accent-color .slick-dots li.slick-active .custom-colors-enabled button {
	background-color: #000000;
}

.custom-colors-enabled .bg-alt-hover:hover,
.custom-colors-enabled .comps .button--alt-accent-bg:hover,
.comps .custom-colors-enabled .button--alt-accent-bg:hover {
	background-color: #000000;
}

.custom-colors-enabled .fill-alt .icon svg *,
.custom-colors-enabled .comps .button--alt-accent-outline .icon svg *,
.comps .custom-colors-enabled .button--alt-accent-outline .icon svg *,
.custom-colors-enabled .fill-alt .button__system_icon svg *,
.custom-colors-enabled
	.comps
	.button--alt-accent-outline
	.button__system_icon
	svg
	*,
.comps
	.custom-colors-enabled
	.button--alt-accent-outline
	.button__system_icon
	svg
	* {
	fill: #000000;
}

.custom-colors-enabled .fill-alt-hover:hover .icon svg *,
.custom-colors-enabled .feature__link:hover .icon svg *,
.custom-colors-enabled .fill-alt-hover:hover .button__system_icon svg *,
.custom-colors-enabled .feature__link:hover .button__system_icon svg * {
	fill: #000000;
}

.custom-colors-enabled
	.bg-accent-color
	.page-component__bg_overlay_box:not(
		.page-component__bg_overlay_box--always-white
	),
.custom-colors-enabled .bg-accent-color .background-color-picker__circle,
.custom-colors-enabled .bg-accent-color .text--01__box {
	background-color: #0066ff;
}
.custom-colors-enabled {
	--primary: #0066ff;
	--primary-dark: #005be4;
	--accent: #0066ff;
	--secondary: #000000;
	--secondary-dark: #000000;
}

.page-component__bg_image_box
	.page-component__bg_image_box
	.page-component__bg_overlay_box {
	position: relative;
}
body .page-component__bg_overlay_box {
	position: absolute;
}
.footer-02__text.content_box a {
	color: inherit !important;
}
.footer-04__info {
	font-size: 14px;
}

.page-component__wrapper {
	opacity: 0;
	transform: perspective(1000px) translateX(0px) translateY(30px) scale(1)
		rotate(0deg) rotateX(10deg) rotateY(0deg) translateZ(0px);
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.page-component__wrapper.visible {
	opacity: 1;
	transform: perspective(1000px) translateX(0px) translateY(0px) scale(1)
		rotate(0deg) rotateX(0deg) rotateY(0deg) translateZ(0px);
}

body {
	overflow-x: hidden;
}

.page-component__wrapper {
	opacity: 0;
	transform: perspective(1000px) translateX(0px) translateY(30px) scale(1)
		rotate(0deg) rotateX(10deg) rotateY(0deg) translateZ(0px);
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.page-component__wrapper.visible {
	opacity: 1;
	transform: perspective(1000px) translateX(0px) translateY(0px) scale(1)
		rotate(0deg) rotateX(0deg) rotateY(0deg) translateZ(0px);
}
.social-buttons__icon_twitter {
    width: 18px; /* Adjust icon size */
    height: 18px;
    transition: transform 0.3s ease; /* Smooth hover effect */
    filter: invert(100%); /* Invert the colors of the icon */
}
.greener-text {
    background: linear-gradient(to right, #9cc99c, #00FF00); /* Adjust gradient colors as needed */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.endurance-text {
    background: linear-gradient(to right, #71b3c4, #0abad1); /* Adjust gradient colors as needed */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.efficiency-text {
    background: linear-gradient(to right, #71b3c4, #0abad1); /* Adjust gradient colors as needed */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.solarpunk-text {
    background: linear-gradient(to right, #9cc99c, #00FF00); /* Adjust gradient colors as needed */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    text-align: center;
}

.image-links {
    display: flex;
    justify-content: space-between;
}

.image-links a {
    flex: 1;
    margin: 0 10px; /* Adjust spacing between images */
}

.image-links img {
    width: 100%;
    display: block;
}
.container {
    text-align: center;
}

.image-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px; /* Adjust maximum width as needed */
    margin: 20px auto;
}

.image-slider img {
    width: 100%;
    display: block;
    transition: transform 0.5s ease;
}

.image-slider img:first-child {
    position: absolute;
    left: 0;
}

.image-slider img:last-child {
    position: relative;
}
.button--white-bg {
    background: linear-gradient(to right, #97d697, #31e231); /* Green gradient */
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding for the button */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline from links */
    display: inline-block; /* Display inline-block */
    font-size: 16px; /* Font size */
    border-radius: 4px; /* Rounded corners */
    transition: background 0.3s ease; /* Smooth transition */
}

.button--white-bg:hover {
    background: linear-gradient(to right, #31e231, #97d697); /* Gradient on hover */
}
html {
    scroll-behavior: smooth;
}

